* {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

h1,
h2,
h3,
h4 {
    margin: 1.5rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
        'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#app {
    background-color: yellow;
    border-radius: 8px;

}

.page-image {
    height: 40%;
    width: 40%;
}

.nav-list li {
    background-color: red;
    border-radius: 6px;
    color: #fff;
    list-style-type: none;
    padding: .7rem;
    box-shadow: 10px 5px 5px black;
}

.nav-list li:hover {
    background-color: green;
    transition: 0.5s;

}

body {
    background-color: cyan;
}

/* .container {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: 1;
    grid-column-gap: 2em;


} */

/* .hashTags-list {
    margin: 1rem;
}

.books-list__title {
    margin: 1rem;
    font-size: 20px;
}

.books-list__title:hover {
    background-color: #ddd;
    border-radius: 6px;
    transition: 0.5s;
    width: 50%;
} */
@keyframes animatedBackground {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 100% 0;
    }
}

#animate-area {
    width: 800px;
    height: 200px;
    background-image: url(http://placekitten.com/400/200);
    background-position: 0px 0px;
    background-repeat: repeat-x;
    animation: animatedBackground 10s linear infinite alternate;
}